@import 'variables';

.hero {
  display: flex;
  justify-content: center;
  .inner {
    margin-top:115px;
    width: 82%;
    min-height: 500px;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    .left-hero {
      height: 100%;
      display: flex;
      align-items: center;
      .title {
        font-family: Poppins;
        font-weight: bold;
        font-size: 40px;
        color: $primary-deep-blue;
      }
    }
    .hero-image {
      width: 550px;
    }
  }
}
.clients {
  display: flex;
  justify-content: center;
  padding: 0px 0px;
  margin-bottom: 30px!important;
  .inner {
    margin-top: 0px!important;
    width: 100%!important;
    .title {
      font-family: Poppins;
      font-weight: bold;
      font-size: 20px;
      color: $primary-deep-blue;
      margin-bottom: 60px;
    }
    img {
      margin: 0px 20px;
      height: 40px;
    }
  }
}
.what-we-do{
  display: flex;
  justify-content: center;
  .inner {
    width: 82%;
    .card {
      height:450px;
      border: none;
      border-top: 10px solid $primary-light-blue;
      box-sizing: border-box;
      border-radius: 10px;
      box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
      padding: 40px 50px 30px 30px;
      .title {
        font-weight: bold;
        font-size: 20px;
        color: $primary-deep-blue;
        margin: 30px 0px 15px 0px;
      }
      .body {
        font-weight: normal;
        line-height: 25px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
.focus {
  display: flex;
  justify-content: center;
  background: url('../images/svg/focus-bg.svg');
  background-repeat: no-repeat;
  height: 1325px;
  padding-top: 167px;
  margin-top: -81px;
  .inner {
    width: 82%;
    .title {
      width: 70%;
      font-family: Poppins;
      font-weight: 500;
      font-size: 30px;
      color: #FFFFFF;
    }
    .card-deck {
      flex-flow: wrap!important;
      display: flex;
      justify-content: center;
    }
    .card {
      min-width: 300px;
      max-width: 350px;
      height:330px;
      border: none;
      border-top: 10px solid $primary-light-blue;
      box-sizing: border-box;
      border-radius: 10px;
      box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
      padding: 20px 20px 20px 20px;
      margin-bottom: 30px;
      .title {
        font-weight: bold;
        font-size: 20px;
        color: $primary-deep-blue;
        margin: 20px 0px 10px 0px;
      }
      .body {
        line-height: 25px;
        font-size: 14px;
        color: rgbs(0, 0, 0, 0.7);
      }
    }
  }
}
.combined-container {
  display: flex;
  height: 100%;
  justify-content: center;
  background: url('../images/svg/lg-bg (2).svg');
  background-size: cover;
  padding-bottom: 0px!important;
  background-repeat: no-repeat;
  .inner {
    margin-top: 200px;
    width: 82%;
    .how-we-do-it {
      .card {
        min-width: 100%;
        height:758px;
        border: none;
        background: #003F5A;
        border-top: 10px solid $primary-light-blue;
        border-radius: 10px;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
        padding: 90px 70px 94px 120px;
        margin-bottom: 30px;
      }
    }
    .industries {
      height: 550px;
      display: flex;
      justify-content: center;
      padding: 50px 0px 50px 0px;
      .row {
        width: 100%;
      }
      .left-col {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0px;
        .title {
          font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          font-size: 40px;
          color: $primary-deep-blue;
          margin-top:25px;
        }
      }
      .right-col {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .card {
          min-width: 100%;
          height:100px;
          border: none;
          border-top: 10px solid $primary-light-blue;
          box-sizing: border-box;
          border-radius: 10px;
          box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
          padding: 20px 20px 20px 20px;
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          .body {
            font-weight: 500;
            font-size: 20px;
            color: #1D4256;
            margin-bottom: 0;
            text-align: center;
          }
        }
        .last-card {
          margin-top: 50px;
        }
      }
    }

  }
}
.partnerships {
  margin-top: 30px;
  .card {
    width: 100%;
    min-height: 235px;
    height: 100%;
    background: rgba(88, 191, 228, 0.1);
    border-radius: 10px;
    padding: 31px;
    .title {
      font-weight: 600;
      font-size: 20px;
      color: $primary-deep-blue;
      text-align: left;
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.66);
    }
    .body {
      .partner {
        font-weight: 600;
        font-size: 20px;
        color: #1D4256;
        margin-bottom: 0px;
      }
      .duration {
        font-weight: 500;
        font-size: 20px;
        color: rgba(29, 66, 86, 0.6);
        margin-top: 0px;
      }
      .btn {
        font-size: 14px!important;
        width: 100%;
      }
    }
  }

}
.contact {
  display: flex;
  justify-content: center;
  // height: 100%;
  padding-top: 0px;
  .inner {
    width: 100%;
    margin-top: 100px;
    .left-col {
      height: 100%;
      .title {
        font-family: Poppins;
        font-weight: bold;
        font-size: 40px;
        color: $primary-deep-blue;
        margin-bottom: 50px;
      }
      form{
        label{
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          font-size: 14px;
          color: #545F7D;
        }
        input {
          height: 60px;
          border: 1px solid rgba(84, 95, 125, 0.15);
          box-sizing: border-box;
          border-radius: 5px;
        }
        .form-group {
          margin-bottom: 30px;
        }
        textarea {
          resize: none;
        }
      }
    }
    .right-col{
      height: 100%;
      display: flex;
      align-items: center;
      .contact-card {
        padding: 30px 0px 30px 45px;
        width: 505px;
        height: 144px;
        background: url('../images/svg/bg.svg');
        background-size: cover;
        color: #72b8c9;
        font-size: 16px;
        .icons {
          display: flex;
          .icon {
            max-width: 25px;
            min-width: 25px;
            max-height: 25px;
            min-height: 25px;
            background: #72b8c9;
            border-radius: 100%;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            i {
              color: $primary-white;
              font-size: 11px!important;
            }
          }
        }
      }
    }
  }
}
.footer {
  height: 0%;
  margin-top: 50px;
    border-top: 1px solid #00213A;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner {
      width: 100%;
      a {
        font-size: 2.5rem;
      }
      .icons {
        display: flex;
        .icon {
          max-width: 50px;
          min-width: 50px;
          max-height: 50px;
          min-height: 50px;
          background: #00213A;
          border-radius: 100%;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
          i {
            color: $primary-white;
            font-size: 20px!important;
          }
        }
      }
    }
}




/* Extra small devices (portrait phones, less than 375px) */
@media (max-width: 375.98px) {
  .hero {
    .inner {
      margin-top:65px;
      width: 95%;
      height: 100%;
      .left-hero {
        height: 40%;
        display: flex;
        align-items: center;
        text-align: center;
        .title {
          font-size: 16px!important;
          text-align: center;
        }
      }
      .hero-image {
        width: 100%;
        height: 80%;
      }
    }
  }
  .contact {
    height: 100%!important;
    .inner {
      width: 100%;
      .left-col {
        // height: 100%;
        .title {
          font-size: 30px;
          margin-bottom: 40px;
          text-align: center;
        }
      }
      .right-col{
        height: 40%;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: start;
        .contact-card {
          // padding: 30px 56% 30px 45px;
          padding: 30px 16% 30px 45px!important;
          width: 100%;
          border-radius: 10px;
          height: 100%;
          background: url('../images/svg/bg.svg');
          background-size: cover;
          background-repeat: no-repeat;
        }
        .tagger {
          margin: 30px 0px 0px 0px;
        }
        .animated-text {
          text-align: center;
          p {
            line-height: normal;
            font-size: 35px;
          }
          .animated-dash {
            width: 300px;
            height: 8px;
          }
        }
      }
    }
  }
}

/* All small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .btn-orange, .btn-blue {
    font-size: 16px;
    min-width: 100%;
  }
  .hero {
    .inner {
      margin-top:90px;
      width: 95%;
      height: 100%;
      .left-hero {
        height: 40%;
        display: flex;
        align-items: center;
        text-align: center;
        .title {
          font-size: 24px;
          text-align: center;
        }
      }
      .hero-image {
        width: 100%;
        height: 80%;
      }
    }
  }

  .clients {
    display: flex;
    justify-content: center;
    margin-bottom: 0px!important;
    padding: 50px 0px;
    .inner {
      width: 95%;
      .title {
        font-family: Poppins;
        font-weight: bold;
        font-size: 20px;
        color: $primary-deep-blue;
        margin-bottom: 60px;
      }
      img {
        margin: 10px 20px 10px 0px ;
      }
    }
  }

  .what-we-do{
    .inner {
      width: 95%;
      .card {
        height:100%;
        margin-top: 20px;
      }
    }
  }

  .focus {
    background-repeat: no-repeat;
    height: 100%;
    .inner {
      width: 95%;
      .title {
        width: 100%;
        font-size: 20px;
        text-align: center;
      }
      .card {
        min-width: 300px;
        max-width: 100%;
        height:330px;
      }
    }
  }

  .combined-container {
    display: flex;
    height: 100%;
    justify-content: center;
    background: url('../images/svg/lg-bg (2).svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 0px!important;
    .inner {
      margin-top: 20px;
      width: 95%;
      height: 100%;
      .how-we-do-it {
        .card {
          min-width: 100%;
          height:100%;
          padding: 10px;
          .illustration {
            height: 300%;
            width: 100%;
          }
        }
      }
      .industries {
        height: 100%;
        padding: 0px 0px;
        .row {
          background-color: transparent;
          height: 100%;
        }
        .left-col {
          padding: 0px;
          .title {
            font-size: 36px;
            text-align: center;
            margin-top:0px;
          }
        }
        .right-col {
          padding: 0px;
          display: flex;
          justify-content: center;
          .row {
            .col-12 {
              padding: 0px;
            }
          }
          .last-card {
            margin-top: 0px;
          }
        }
      }
      .partnerships {
        .title {
          font-size: 36px;
          margin-top: 20px;
        }
        .inner {
          margin-top: 0px;
          .row {
            width: 100%;
            .right-col {
              margin-top: 20px;
              .card {
                height: 100%;
                .title {
                  text-align: center;
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
    }
  }

  .contact {
    padding-top: 0px;
    padding-bottom: 20px;
    height: 100%!important;
    .inner {
      width: 100%;
      .left-col {
        // height: 100%;
        .title {
          font-size: 30px;
          margin-bottom: 40px;
          text-align: center;
        }
      }
      .right-col{
        height: 40%;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: start;
        .contact-card {
          padding: 30px 30% 30px 45px;
          width: 100%;
          border-radius: 10px;
          height: 100%;
          background: url('../images/svg/bg.svg');
          background-size: cover;
          background-repeat: no-repeat;
        }
        .tagger {
          margin: 30px 0px 0px 0px;
        }
        .animated-text {
          text-align: center;
          p {
            line-height: normal;
            font-size: 35px;
          }
          .animated-dash {
            width: 300px;
            height: 8px;
          }
        }
      }
    }
  }
  .footer {
    height: 0%;
    margin-top: 50px;
      border-top: 1px solid #00213A;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      .inner {
        width: 100%;
        a {
          font-size: 1.5rem;
        }
        .icons {
          display: flex;
          .icon {
            max-width: 30px;
            min-width: 30px;
            max-height: 30px;
            min-height: 30px;
            background: #00213A;
            border-radius: 100%;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            i {
              color: $primary-white;
              font-size: 12px!important;
            }
          }
        }
      }
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 375px) and (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

  .hero {
    .inner {
      margin-top:100px;
      padding-top: 10px;
      width: 90%;
      height: 100%;
      .left-hero {
        height: 40%;
        display: flex;
        align-items: center;
        text-align: center;
        .title {
          font-size: 24px;
          text-align: center;
        }
      }
      .hero-image {
        width: 100%;
        height: 80%;
      }
    }
  }
  .clients {
    .inner {
      width: 90%;
    }
  }
  .what-we-do{
    .inner {
      width: 90%;
      .card {
        height:100%;
        margin-top: 20px;
      }
    }
  }
  .focus {
    background-repeat: no-repeat;
    height: 100%;
    .inner {
      width: 90%;
      .title {
        width: 100%;
        font-size: 20px;
        text-align: center;
      }
    }
  }
  .combined-container {
    display: flex;
    height: 100%;
    justify-content: center;
    background: url('../images/svg/lg-bg (2).svg');
    background-size: contain;
    background-repeat: no-repeat;
    .inner {
      margin-top: 20px;
      width: 95%;
      height: 100%;
      .how-we-do-it {
        .card {
            min-width: 100%;
            height:100%;
            padding: 10px;
            .illustration {
              height: 300%;
              width: 100%;
            }
        }
      }
      .industries {
        height: 100%;
        padding: 0px 0px;
        .row {
          background-color: transparent;
          height: 100%;
        }
        .left-col {
          padding: 0px;
          .title {
            font-size: 36px;
            text-align: center;
            margin-top:0px;
          }
        }
        .right-col {
          padding: 0px;
          display: flex;
          justify-content: center;
          .row {
            .col-12 {
              padding: 0px;
            }
          }
          .last-card {
            margin-top: 0px;
          }
        }
      }
      .partnerships {
        .title {
          font-size: 36px;
          margin-top: 20px;
        }
        .inner {
          margin-top: 0px;
          .row {
            width: 100%;
            .right-col {
              margin-top: 20px;
              .card {
                height: 100%;
                .title {
                  text-align: center;
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
  .contact {
    height: 100%!important;
    .inner {
      width: 100%;
      .left-col {
        .title {
          font-size: 30px;
          margin-bottom: 40px;
          text-align: center;
        }
      }
      .right-col{
        height: 40%;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: start;
        .contact-card {
          padding: 30px 56% 30px 45px;
          width: 100%;
          border-radius: 10px;
          height: 100%;
          background: url('../images/svg/bg.svg');
          background-size: cover;
          background-repeat: no-repeat;
        }
        .tagger {
          margin: 30px 0px 0px 0px;
        }
        .animated-text {
          text-align: center;
          p {
            line-height: normal;
            font-size: 35px;
          }
          .animated-dash {
            width: 300px;
            height: 8px;
          }
        }
      }
    }
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

  .hero {
    .inner {
      margin-top:100px;
      padding-top: 10px;
      width: 90%;
      height: 100%;
      .left-hero {
        height: 40%;
        display: flex;
        align-items: center;
        text-align: center;
        .title {
          font-size: 24px;
          text-align: center;
        }
      }
      .hero-image {
        width: 100%;
        height: 80%;
      }
    }
  }
  .clients {
    .inner {
      width: 90%;
    }
  }
  .what-we-do{
    .inner {
      width: 90%;
      .card {
        height:100%;
        margin-top: 20px;
      }
    }
  }
  .focus {
    background-repeat: no-repeat;
    height: 100%;
    .inner {
      width: 90%;
      .title {
        width: 100%;
        font-size: 20px;
        text-align: center;
      }
    }
  }
  .combined-container {
    display: flex;
    height: 100%;
    justify-content: center;
    background: url('../images/svg/lg-bg (2).svg');
    background-size: contain;
    background-repeat: no-repeat;
    .inner {
      margin-top: 20px;
      width: 95%;
      height: 100%;
      .how-we-do-it {
        .card {
            min-width: 100%;
            height:100%;
            padding: 10px;
            .illustration {
              height: 300%;
              width: 100%;
            }
        }
      }
      .industries {
        height: 100%;
        padding: 0px 0px;
        .row {
          background-color: transparent;
          height: 100%;
        }
        .left-col {
          padding: 0px;
          .title {
            font-size: 36px;
            text-align: center;
            margin-top:0px;
          }
        }
        .right-col {
          padding: 0px;
          display: flex;
          justify-content: center;
          .row {
            .col-12 {
              padding: 0px;
            }
          }
          .last-card {
            margin-top: 0px;
          }
        }
      }
      .partnerships {
        .title {
          font-size: 36px;
          margin-top: 20px;
        }
        .inner {
          margin-top: 0px;
          .row {
            width: 100%;
            .right-col {
              margin-top: 20px;
              .card {
                height: 100%;
                .title {
                  text-align: center;
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
  .contact {
    height: 100%!important;
    .inner {
      width: 100%;
      .left-col {
        .title {
          font-size: 30px;
          margin-bottom: 40px;
          text-align: center;
        }
      }
      .right-col{
        height: 40%;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: start;
        .contact-card {
          padding: 30px 56% 30px 45px;
          width: 100%;
          border-radius: 10px;
          height: 100%;
          background: url('../images/svg/bg.svg');
          background-size: cover;
          background-repeat: no-repeat;
        }
        .tagger {
          margin: 30px 0px 0px 0px;
        }
        .animated-text {
          text-align: center;
          p {
            line-height: normal;
            font-size: 35px;
          }
          .animated-dash {
            width: 300px;
            height: 8px;
          }
        }
      }
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .what-we-do{
    min-height: 100%;
    .inner {
      width: 82%;
      .card {
        height:100%;
        margin-top: 20px;
      }
    }
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) {
  .focus {
    background-size: cover;
    height: 100%;
  }
}
@media (min-width:1577px) {
  .btn {
    height: 80px!important;
    font-size: 26px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .hero {
    .inner {
      padding-bottom: 88px;
      .left-hero {
        .title {
          font-size: 46px;
        }
      }
      .hero-image {
        width: 100%;
      }
    }
  }
  .what-we-do{
    margin-top: 118px;
    .inner {
      .card {
        height:100%;
        img {
          height: 115px;
          width: 115px;
        }
        .title {
          font-size: 24px;
        }
        .body {
          line-height: 29px;
          font-size: 16px;
        }
      }
    }
  }
  .focus {
    background: url('../images/svg/focus-bg-1902.svg');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    .inner {
      .title {
        width: 70%;
        font-size: 35px;
        margin-bottom: 52px;
      }
      .card-deck {
        flex-flow: wrap!important;
      }
      .card {
        min-width: 425px!important;
        margin-left: 0px!important;
        height:385px;
        margin-bottom: 25px;
        margin-right:25px;
        .title {
          font-size: 23px;
        }
        .body {
          line-height: normal;
          font-size: 16px;
        }
      }
      .card:nth-child(3n) {
        margin-right: 0px!important;
      }
      .card:last-child {
        margin-right: 0px!important;
      }
    }
  }
  .combined-container {
    height: 100%;
    background: url('../images/svg/lg-bg (2).svg');
    background-size: cover;
    padding-bottom: 50px!important;
    margin-top: -175px;
    .inner {
      margin-top: 250px;
      .how-we-do-it {
        .card {
          height:884px;
          .illustration {
            width: 100%;
          }
        }
      }
      .industries {
        height: 500px;
        .row {
          width: 100%;
        }
        .left-col {
          .title {
            font-size: 46px;
            margin-top:30px;
          }
        }
        .right-col {
          .card {
            height:116px;
            margin-bottom: 26px;
            .body {
              font-size: 24px;
            }
          }
          .last-card {
            margin-top: 58px;
          }
        }
      }
    }
  }
  .clients {
    .inner {
      margin-top: 0px!important;
      width: 100%!important;
      .title {
        font-size: 23px;
        margin-bottom: 80px;
      }
      img {
        margin: 0px 40px;
        height: 75px;
      }
    }
  }

  .contact {
    height: 1045px;
    padding-top: 70px;
    .inner {
      .left-col {
        .title {
          font-size: 46px;
          margin-bottom: 58px;
        }
        form{
          label{
            font-size: 16px;
          }
          input {
            height: 70px;
          }
          .form-group {
            margin-bottom: 35px;
          }
        }
      }
      .right-col{
        .contact-card {
          padding: 40px 0px 30px 40px;
          width: 600px;
          height: 175px;
          font-size: 18px;
          .icons {
            .icon {
              max-width: 25px;
              min-width: 25px;
              max-height: 25px;
              min-height: 25px;
              margin-right: 26px;
              i {
                font-size: 14px!important;
              }
            }
          }
        }
        .partnerships {
          margin-top: 40px;
          .card {
            .title {
              font-size: 28px;
            }
            .body {
              .partner {
                font-size: 23px;
              }
              .duration {
                font-size: 23px;
              }
              .btn {
                font-size: 22px!important;
                width: 100%;
                padding-left: 20px;
                padding-right: 20px;
              }
            }
          }

        }
      }
    }
  }
  footer {
    a {
      font-size: 2.5rem;
    }
  }
}

/* Extra large devices (large desktops, 1440px and up) */
@media (min-width: 1902px) {
  .btn {
    height: 80px!important;
    font-size: 26px;
    padding-left: 70px;
    padding-right: 70px;
  }
  .hero {
    .inner {
      padding-bottom: 88px;
      .left-hero {
        .title {
          font-size: 53px;
        }
      }
      .hero-image {
        width: 870px;
      }
    }
  }
  .what-we-do{
    margin-top: 118px;
    .inner {
      .card {
        height:610px;
        img {
          height: 134px;
          width: 134px;
        }
        .title {
          font-size: 26px;
        }
        .body {
          line-height: 38px;
          font-size: 18px;
        }
      }
    }
  }
  .focus {
    background: url('../images/svg/focus-bg-1902.svg');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    .inner {
      .title {
        width: 70%;
        font-size: 40px;
        margin-bottom: 52px;
      }
      .card-deck {
        flex-flow: wrap!important;
      }
      .card {
        min-width: 510px!important;
        margin-left: 0px!important;
        height:442px;
        margin-bottom: 25px;
        margin-right:25px;
        .title {
          font-size: 26px;
        }
        .body {
          line-height: 34px;
          font-size: 18px;
        }
      }
      .card:nth-child(3n) {
        margin-right: 0px!important;
      }
      .card:last-child {
        margin-right: 0px!important;
      }
    }
  }
  .combined-container {
    height: 100%;
    background: url('../images/svg/lg-bg (2).svg');
    background-size: cover;
    padding-bottom: 50px!important;
    margin-top: -150px;
    .inner {
      margin-top: 250px;
      .how-we-do-it {
        .card {
          height:1017px;
          .illustration {
            width: 100%;
          }
        }
      }
      .industries {
        height: 500px;
        .row {
          width: 100%;
        }
        .left-col {
          .title {
            font-size: 53px;
            margin-top:35px;
          }
        }
        .right-col {
          .card {
            height:134px;
            margin-bottom: 26px;
            .body {
              font-size: 28px;
            }
          }
          .last-card {
            margin-top: 67px;
          }
        }
      }
    }
  }
  .clients {
    .inner {
      margin-top: 0px!important;
      width: 100%!important;
      .title {
        font-size: 26px;
        margin-bottom: 80px;
      }
      img {
        margin: 0px 40px;
        height: 100px;
      }
    }
  }

  .contact {
    height: 1199px;
    padding-top: 80px;
    .inner {
      .left-col {
        .title {
          font-size: 53px;
          margin-bottom: 70px;
        }
        form{
          label{
            font-size: 18px;
          }
          input {
            height: 80px;
          }
          .form-group {
            margin-bottom: 40px;
          }
        }
      }
      .right-col{
        .contact-card {
          padding: 40px 0px 30px 40px;
          width: 685px;
          height: 201px;
          font-size: 24px;
          .icons {
            .icon {
              max-width: 35px;
              min-width: 35px;
              max-height: 35px;
              min-height: 35px;
              margin-right: 26px;
              i {
                font-size: 18px!important;
              }
            }
          }
        }
        .partnerships {
          margin-top: 40px;
          .card {
            .title {
              font-size: 32px;
            }
            .body {
              .partner {
                font-size: 26px;
              }
              .duration {
                font-size: 26px;
              }
              .btn {
                font-size: 24px!important;
                width: 100%;
                padding-left: 35px;
                padding-right: 35px;
              }
            }
          }

        }
      }
    }
  }
  footer {
    a {
      font-size: 2.5rem;
    }
  }
}
