.hero {
  display: flex;
  justify-content: center;
}
.hero .inner {
  margin-top: 115px;
  width: 82%;
  min-height: 500px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.hero .inner .left-hero {
  height: 100%;
  display: flex;
  align-items: center;
}
.hero .inner .left-hero .title {
  font-family: Poppins;
  font-weight: bold;
  font-size: 40px;
  color: #000712;
}
.hero .inner .hero-image {
  width: 550px;
}

.clients {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  margin-bottom: 50px !important;
}
.clients .inner {
  margin-top: 0px !important;
  width: 100% !important;
}
.clients .inner .title {
  font-family: Poppins;
  font-weight: bold;
  font-size: 20px;
  color: #000712;
  margin-bottom: 60px;
}
.clients .inner img {
  margin: 0px 20px;
}

.what-we-do {
  display: flex;
  justify-content: center;
}
.what-we-do .inner {
  width: 82%;
}
.what-we-do .inner .card {
  height: 450px;
  border: none;
  border-top: 10px solid #72B8C9;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
  padding: 40px 50px 30px 30px;
}
.what-we-do .inner .card .title {
  font-weight: bold;
  font-size: 20px;
  color: #000712;
  margin: 30px 0px 15px 0px;
}
.what-we-do .inner .card .body {
  font-weight: normal;
  line-height: 25px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.focus {
  display: flex;
  justify-content: center;
  background: url("../images/svg/focus-bg.svg");
  background-repeat: no-repeat;
  height: 1325px;
  padding-top: 167px;
  margin-top: -81px;
}
.focus .inner {
  width: 82%;
}
.focus .inner .title {
  width: 70%;
  font-family: Poppins;
  font-weight: 500;
  font-size: 30px;
  color: #FFFFFF;
}
.focus .inner .card-deck {
  flex-flow: wrap !important;
  display: flex;
  justify-content: center;
}
.focus .inner .card {
  min-width: 300px;
  max-width: 350px;
  height: 330px;
  border: none;
  border-top: 10px solid #72B8C9;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
}
.focus .inner .card .title {
  font-weight: bold;
  font-size: 20px;
  color: #000712;
  margin: 20px 0px 10px 0px;
}
.focus .inner .card .body {
  line-height: 25px;
  font-size: 14px;
  color: rgbs(0, 0, 0, 0.7);
}

.combined-container {
  display: flex;
  height: 120%;
  justify-content: center;
  background: url("../images/svg/lg-bg.svg");
  background-size: cover;
  padding-bottom: 150px !important;
  background-repeat: no-repeat;
}
.combined-container .inner {
  margin-top: 200px;
  width: 82%;
}
.combined-container .inner .how-we-do-it .card {
  min-width: 100%;
  height: 758px;
  border: none;
  background: #003F5A;
  border-top: 10px solid #72B8C9;
  border-radius: 10px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
  padding: 90px 70px 94px 120px;
  margin-bottom: 30px;
}
.combined-container .inner .industries {
  height: 450px;
  display: flex;
  justify-content: center;
  padding: 125px 0px 50px 0px;
}
.combined-container .inner .industries .row {
  width: 100%;
}
.combined-container .inner .industries .left-col .title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 40px;
  color: #000712;
  margin-top: 25px;
}
.combined-container .inner .industries .right-col {
  display: flex;
  justify-content: center;
}
.combined-container .inner .industries .right-col .card {
  min-width: 100%;
  height: 100px;
  border: none;
  border-top: 10px solid #72B8C9;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.combined-container .inner .industries .right-col .card .body {
  font-weight: 500;
  font-size: 20px;
  color: #1D4256;
  margin-bottom: 0;
  text-align: center;
}
.combined-container .inner .industries .right-col .last-card {
  margin-top: 50px;
}

.partnerships {
  margin-top: 30px;
}
.partnerships .card {
  width: 100%;
  min-height: 235px;
  height: 100%;
  background: rgba(88, 191, 228, 0.1);
  border-radius: 10px;
  padding: 31px;
}
.partnerships .card .title {
  font-weight: 600;
  font-size: 20px;
  color: #000712;
  text-align: left;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.66);
}
.partnerships .card .body .partner {
  font-weight: 600;
  font-size: 20px;
  color: #1D4256;
}
.partnerships .card .body .duration {
  font-weight: 500;
  font-size: 20px;
  color: rgba(29, 66, 86, 0.6);
  margin-top: 50px;
}
.partnerships .card .body .btn {
  font-size: 14px !important;
  width: 100%;
}

.contact {
  display: flex;
  justify-content: center;
  height: 894px;
  padding-top: 60px;
}
.contact .inner {
  width: 82%;
}
.contact .inner .left-col .title {
  font-family: Poppins;
  font-weight: bold;
  font-size: 40px;
  color: #000712;
  margin-bottom: 50px;
}
.contact .inner .left-col form label {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  color: #545F7D;
}
.contact .inner .left-col form input {
  height: 60px;
  border: 1px solid rgba(84, 95, 125, 0.15);
  box-sizing: border-box;
  border-radius: 5px;
}
.contact .inner .left-col form .form-group {
  margin-bottom: 30px;
}
.contact .inner .left-col form textarea {
  resize: none;
}
.contact .inner .right-col {
  height: 100%;
  display: flex;
  align-items: center;
}
.contact .inner .right-col .contact-card {
  padding: 30px 0px 30px 45px;
  width: 505px;
  height: 144px;
  background: url("../images/svg/bg.svg");
  background-size: cover;
  color: #FFFFFF;
  font-size: 16px;
}
.contact .inner .right-col .contact-card .icons {
  display: flex;
}
.contact .inner .right-col .contact-card .icons .icon {
  max-width: 20px;
  min-width: 20px;
  max-height: 20px;
  min-height: 20px;
  background: #FFFFFF;
  border-radius: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.contact .inner .right-col .contact-card .icons .icon i {
  color: #2D46BB;
  font-size: 11px !important;
}
.contact .inner .right-col .tagger {
  font-weight: bold;
  font-size: 30px;
  color: #000712;
  margin: 70px 0px 30px 0px;
  text-align: center;
}
.contact .inner .right-col .animated-text {
  text-align: center;
}
.contact .inner .right-col .animated-text p {
  font-weight: bold;
  line-height: 100px;
  font-size: 45px;
  color: #58BFE4;
}
.contact .inner .right-col .animated-text .animated-dash {
  width: 300px;
  height: 10px;
  background: #58BFE4;
  opacity: 0.5;
  border-radius: 10px;
}

footer {
  height: 148px;
  background: #003F5A;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .inner {
  width: 82%;
}

/* Extra small devices (portrait phones, less than 375px) */
@media (max-width: 375.98px) {
  .hero .inner {
    margin-top: 65px;
    width: 95%;
    height: 100%;
  }
  .hero .inner .left-hero {
    height: 40%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .hero .inner .left-hero .title {
    font-size: 16px !important;
    text-align: center;
  }
  .hero .inner .hero-image {
    width: 100%;
    height: 80%;
  }

  .contact {
    height: 100% !important;
  }
  .contact .inner {
    width: 95%;
  }
  .contact .inner .left-col .title {
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
  .contact .inner .right-col {
    height: 40%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .contact .inner .right-col .contact-card {
    padding: 30px 16% 30px 45px !important;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background: url("../images/svg/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contact .inner .right-col .tagger {
    margin: 30px 0px 0px 0px;
  }
  .contact .inner .right-col .animated-text {
    text-align: center;
  }
  .contact .inner .right-col .animated-text p {
    line-height: normal;
    font-size: 35px;
  }
  .contact .inner .right-col .animated-text .animated-dash {
    width: 300px;
    height: 8px;
  }
}
/* All small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .btn-orange, .btn-blue {
    font-size: 16px;
    min-width: 100%;
  }

  .hero .inner {
    margin-top: 90px;
    width: 95%;
    height: 100%;
  }
  .hero .inner .left-hero {
    height: 40%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .hero .inner .left-hero .title {
    font-size: 24px;
    text-align: center;
  }
  .hero .inner .hero-image {
    width: 100%;
    height: 80%;
  }

  .clients {
    display: flex;
    justify-content: center;
    margin-bottom: 0px !important;
    padding: 50px 0px;
  }
  .clients .inner {
    width: 95%;
  }
  .clients .inner .title {
    font-family: Poppins;
    font-weight: bold;
    font-size: 20px;
    color: #000712;
    margin-bottom: 60px;
  }
  .clients .inner img {
    margin: 10px 20px 10px 0px;
  }

  .what-we-do .inner {
    width: 95%;
  }
  .what-we-do .inner .card {
    height: 100%;
    margin-top: 20px;
  }

  .focus {
    background-repeat: no-repeat;
    height: 100%;
  }
  .focus .inner {
    width: 95%;
  }
  .focus .inner .title {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
  .focus .inner .card {
    min-width: 300px;
    max-width: 100%;
    height: 330px;
  }

  .combined-container {
    display: flex;
    height: 100%;
    justify-content: center;
    background: url("../images/svg/lg-bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 0px !important;
  }
  .combined-container .inner {
    margin-top: 20px;
    width: 95%;
    height: 100%;
  }
  .combined-container .inner .how-we-do-it .card {
    min-width: 100%;
    height: 100%;
    padding: 10px;
  }
  .combined-container .inner .how-we-do-it .card .illustration {
    height: 300%;
    width: 100%;
  }
  .combined-container .inner .industries {
    height: 100%;
    padding: 0px 0px;
  }
  .combined-container .inner .industries .row {
    background-color: transparent;
    height: 100%;
  }
  .combined-container .inner .industries .left-col {
    padding: 0px;
  }
  .combined-container .inner .industries .left-col .title {
    font-size: 36px;
    text-align: center;
    margin-top: 0px;
  }
  .combined-container .inner .industries .right-col {
    padding: 0px;
    display: flex;
    justify-content: center;
  }
  .combined-container .inner .industries .right-col .row .col-12 {
    padding: 0px;
  }
  .combined-container .inner .industries .right-col .last-card {
    margin-top: 0px;
  }
  .combined-container .inner .partnerships .title {
    font-size: 36px;
    margin-top: 20px;
  }
  .combined-container .inner .partnerships .inner {
    margin-top: 0px;
  }
  .combined-container .inner .partnerships .inner .row {
    width: 100%;
  }
  .combined-container .inner .partnerships .inner .row .right-col {
    margin-top: 20px;
  }
  .combined-container .inner .partnerships .inner .row .right-col .card {
    height: 100%;
  }
  .combined-container .inner .partnerships .inner .row .right-col .card .title {
    text-align: center;
    font-size: 24px;
  }

  .contact {
    padding-top: 0px;
    padding-bottom: 20px;
    height: 100% !important;
  }
  .contact .inner {
    width: 95%;
  }
  .contact .inner .left-col .title {
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
  .contact .inner .right-col {
    height: 40%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .contact .inner .right-col .contact-card {
    padding: 30px 30% 30px 45px;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background: url("../images/svg/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contact .inner .right-col .tagger {
    margin: 30px 0px 0px 0px;
  }
  .contact .inner .right-col .animated-text {
    text-align: center;
  }
  .contact .inner .right-col .animated-text p {
    line-height: normal;
    font-size: 35px;
  }
  .contact .inner .right-col .animated-text .animated-dash {
    width: 300px;
    height: 8px;
  }
}
/* Extra small devices (portrait phones, less than 576px) */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .hero .inner {
    margin-top: 100px;
    padding-top: 10px;
    width: 90%;
    height: 100%;
  }
  .hero .inner .left-hero {
    height: 40%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .hero .inner .left-hero .title {
    font-size: 24px;
    text-align: center;
  }
  .hero .inner .hero-image {
    width: 100%;
    height: 80%;
  }

  .clients .inner {
    width: 90%;
  }

  .what-we-do .inner {
    width: 90%;
  }
  .what-we-do .inner .card {
    height: 100%;
    margin-top: 20px;
  }

  .focus {
    background-repeat: no-repeat;
    height: 100%;
  }
  .focus .inner {
    width: 90%;
  }
  .focus .inner .title {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }

  .combined-container {
    display: flex;
    height: 100%;
    justify-content: center;
    background: url("../images/svg/lg-bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .combined-container .inner {
    margin-top: 20px;
    width: 95%;
    height: 100%;
  }
  .combined-container .inner .how-we-do-it .card {
    min-width: 100%;
    height: 100%;
    padding: 10px;
  }
  .combined-container .inner .how-we-do-it .card .illustration {
    height: 300%;
    width: 100%;
  }
  .combined-container .inner .industries {
    height: 100%;
    padding: 0px 0px;
  }
  .combined-container .inner .industries .row {
    background-color: transparent;
    height: 100%;
  }
  .combined-container .inner .industries .left-col {
    padding: 0px;
  }
  .combined-container .inner .industries .left-col .title {
    font-size: 36px;
    text-align: center;
    margin-top: 0px;
  }
  .combined-container .inner .industries .right-col {
    padding: 0px;
    display: flex;
    justify-content: center;
  }
  .combined-container .inner .industries .right-col .row .col-12 {
    padding: 0px;
  }
  .combined-container .inner .industries .right-col .last-card {
    margin-top: 0px;
  }
  .combined-container .inner .partnerships .title {
    font-size: 36px;
    margin-top: 20px;
  }
  .combined-container .inner .partnerships .inner {
    margin-top: 0px;
  }
  .combined-container .inner .partnerships .inner .row {
    width: 100%;
  }
  .combined-container .inner .partnerships .inner .row .right-col {
    margin-top: 20px;
  }
  .combined-container .inner .partnerships .inner .row .right-col .card {
    height: 100%;
  }
  .combined-container .inner .partnerships .inner .row .right-col .card .title {
    text-align: center;
    font-size: 24px;
  }

  .contact {
    height: 100% !important;
  }
  .contact .inner {
    width: 90%;
  }
  .contact .inner .left-col .title {
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
  .contact .inner .right-col {
    height: 40%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .contact .inner .right-col .contact-card {
    padding: 30px 56% 30px 45px;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background: url("../images/svg/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contact .inner .right-col .tagger {
    margin: 30px 0px 0px 0px;
  }
  .contact .inner .right-col .animated-text {
    text-align: center;
  }
  .contact .inner .right-col .animated-text p {
    line-height: normal;
    font-size: 35px;
  }
  .contact .inner .right-col .animated-text .animated-dash {
    width: 300px;
    height: 8px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero .inner {
    margin-top: 100px;
    padding-top: 10px;
    width: 90%;
    height: 100%;
  }
  .hero .inner .left-hero {
    height: 40%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .hero .inner .left-hero .title {
    font-size: 24px;
    text-align: center;
  }
  .hero .inner .hero-image {
    width: 100%;
    height: 80%;
  }

  .clients .inner {
    width: 90%;
  }

  .what-we-do .inner {
    width: 90%;
  }
  .what-we-do .inner .card {
    height: 100%;
    margin-top: 20px;
  }

  .focus {
    background-repeat: no-repeat;
    height: 100%;
  }
  .focus .inner {
    width: 90%;
  }
  .focus .inner .title {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }

  .combined-container {
    display: flex;
    height: 100%;
    justify-content: center;
    background: url("../images/svg/lg-bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .combined-container .inner {
    margin-top: 20px;
    width: 95%;
    height: 100%;
  }
  .combined-container .inner .how-we-do-it .card {
    min-width: 100%;
    height: 100%;
    padding: 10px;
  }
  .combined-container .inner .how-we-do-it .card .illustration {
    height: 300%;
    width: 100%;
  }
  .combined-container .inner .industries {
    height: 100%;
    padding: 0px 0px;
  }
  .combined-container .inner .industries .row {
    background-color: transparent;
    height: 100%;
  }
  .combined-container .inner .industries .left-col {
    padding: 0px;
  }
  .combined-container .inner .industries .left-col .title {
    font-size: 36px;
    text-align: center;
    margin-top: 0px;
  }
  .combined-container .inner .industries .right-col {
    padding: 0px;
    display: flex;
    justify-content: center;
  }
  .combined-container .inner .industries .right-col .row .col-12 {
    padding: 0px;
  }
  .combined-container .inner .industries .right-col .last-card {
    margin-top: 0px;
  }
  .combined-container .inner .partnerships .title {
    font-size: 36px;
    margin-top: 20px;
  }
  .combined-container .inner .partnerships .inner {
    margin-top: 0px;
  }
  .combined-container .inner .partnerships .inner .row {
    width: 100%;
  }
  .combined-container .inner .partnerships .inner .row .right-col {
    margin-top: 20px;
  }
  .combined-container .inner .partnerships .inner .row .right-col .card {
    height: 100%;
  }
  .combined-container .inner .partnerships .inner .row .right-col .card .title {
    text-align: center;
    font-size: 24px;
  }

  .contact {
    height: 100% !important;
  }
  .contact .inner {
    width: 90%;
  }
  .contact .inner .left-col .title {
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
  .contact .inner .right-col {
    height: 40%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .contact .inner .right-col .contact-card {
    padding: 30px 56% 30px 45px;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background: url("../images/svg/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contact .inner .right-col .tagger {
    margin: 30px 0px 0px 0px;
  }
  .contact .inner .right-col .animated-text {
    text-align: center;
  }
  .contact .inner .right-col .animated-text p {
    line-height: normal;
    font-size: 35px;
  }
  .contact .inner .right-col .animated-text .animated-dash {
    width: 300px;
    height: 8px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .what-we-do {
    min-height: 100%;
  }
  .what-we-do .inner {
    width: 82%;
  }
  .what-we-do .inner .card {
    height: 100%;
    margin-top: 20px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) {
  .focus {
    background-size: cover;
    height: 100%;
  }
}
@media (min-width: 1577px) {
  .btn {
    height: 80px !important;
    font-size: 26px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .hero .inner {
    padding-bottom: 88px;
  }
  .hero .inner .left-hero .title {
    font-size: 46px;
  }
  .hero .inner .hero-image {
    width: 100%;
  }

  .what-we-do {
    margin-top: 118px;
  }
  .what-we-do .inner .card {
    height: 100%;
  }
  .what-we-do .inner .card img {
    height: 115px;
    width: 115px;
  }
  .what-we-do .inner .card .title {
    font-size: 24px;
  }
  .what-we-do .inner .card .body {
    line-height: 29px;
    font-size: 16px;
  }

  .focus {
    background: url("../images/svg/focus-bg-1902.svg");
    margin-bottom: 0px;
    background-repeat: no-repeat;
  }
  .focus .inner .title {
    width: 70%;
    font-size: 35px;
    margin-bottom: 52px;
  }
  .focus .inner .card-deck {
    flex-flow: wrap !important;
  }
  .focus .inner .card {
    min-width: 425px !important;
    margin-left: 0px !important;
    height: 385px;
    margin-bottom: 25px;
    margin-right: 25px;
  }
  .focus .inner .card .title {
    font-size: 23px;
  }
  .focus .inner .card .body {
    line-height: normal;
    font-size: 16px;
  }
  .focus .inner .card:nth-child(3n) {
    margin-right: 0px !important;
  }
  .focus .inner .card:last-child {
    margin-right: 0px !important;
  }

  .combined-container {
    height: 100%;
    background: url("../images/svg/lg-bg.svg");
    background-size: cover;
    padding-bottom: 50px !important;
    margin-top: -175px;
  }
  .combined-container .inner {
    margin-top: 250px;
  }
  .combined-container .inner .how-we-do-it .card {
    height: 884px;
  }
  .combined-container .inner .how-we-do-it .card .illustration {
    width: 100%;
  }
  .combined-container .inner .industries {
    height: 500px;
  }
  .combined-container .inner .industries .row {
    width: 100%;
  }
  .combined-container .inner .industries .left-col .title {
    font-size: 46px;
    margin-top: 30px;
  }
  .combined-container .inner .industries .right-col .card {
    height: 116px;
    margin-bottom: 26px;
  }
  .combined-container .inner .industries .right-col .card .body {
    font-size: 24px;
  }
  .combined-container .inner .industries .right-col .last-card {
    margin-top: 58px;
  }

  .clients .inner {
    margin-top: 0px !important;
    width: 100% !important;
  }
  .clients .inner .title {
    font-size: 23px;
    margin-bottom: 80px;
  }
  .clients .inner img {
    margin: 0px 40px;
    height: 75px;
  }

  .contact {
    height: 1045px;
    padding-top: 70px;
  }
  .contact .inner .left-col .title {
    font-size: 46px;
    margin-bottom: 58px;
  }
  .contact .inner .left-col form label {
    font-size: 16px;
  }
  .contact .inner .left-col form input {
    height: 70px;
  }
  .contact .inner .left-col form .form-group {
    margin-bottom: 35px;
  }
  .contact .inner .right-col .contact-card {
    padding: 40px 0px 30px 40px;
    width: 600px;
    height: 175px;
    font-size: 18px;
  }
  .contact .inner .right-col .contact-card .icons .icon {
    max-width: 25px;
    min-width: 25px;
    max-height: 25px;
    min-height: 25px;
    margin-right: 26px;
  }
  .contact .inner .right-col .contact-card .icons .icon i {
    font-size: 14px !important;
  }
  .contact .inner .right-col .partnerships {
    margin-top: 40px;
  }
  .contact .inner .right-col .partnerships .card .title {
    font-size: 28px;
  }
  .contact .inner .right-col .partnerships .card .body .partner {
    font-size: 23px;
  }
  .contact .inner .right-col .partnerships .card .body .duration {
    font-size: 23px;
  }
  .contact .inner .right-col .partnerships .card .body .btn {
    font-size: 22px !important;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  footer a {
    font-size: 2.5rem;
  }
}
/* Extra large devices (large desktops, 1440px and up) */
@media (min-width: 1902px) {
  .btn {
    height: 80px !important;
    font-size: 26px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .hero .inner {
    padding-bottom: 88px;
  }
  .hero .inner .left-hero .title {
    font-size: 53px;
  }
  .hero .inner .hero-image {
    width: 870px;
  }

  .what-we-do {
    margin-top: 118px;
  }
  .what-we-do .inner .card {
    height: 610px;
  }
  .what-we-do .inner .card img {
    height: 134px;
    width: 134px;
  }
  .what-we-do .inner .card .title {
    font-size: 26px;
  }
  .what-we-do .inner .card .body {
    line-height: 38px;
    font-size: 18px;
  }

  .focus {
    background: url("../images/svg/focus-bg-1902.svg");
    margin-bottom: 0px;
    background-repeat: no-repeat;
  }
  .focus .inner .title {
    width: 70%;
    font-size: 40px;
    margin-bottom: 52px;
  }
  .focus .inner .card-deck {
    flex-flow: wrap !important;
  }
  .focus .inner .card {
    min-width: 510px !important;
    margin-left: 0px !important;
    height: 442px;
    margin-bottom: 25px;
    margin-right: 25px;
  }
  .focus .inner .card .title {
    font-size: 26px;
  }
  .focus .inner .card .body {
    line-height: 34px;
    font-size: 18px;
  }
  .focus .inner .card:nth-child(3n) {
    margin-right: 0px !important;
  }
  .focus .inner .card:last-child {
    margin-right: 0px !important;
  }

  .combined-container {
    height: 100%;
    background: url("../images/svg/lg-bg.svg");
    background-size: cover;
    padding-bottom: 50px !important;
    margin-top: -150px;
  }
  .combined-container .inner {
    margin-top: 250px;
  }
  .combined-container .inner .how-we-do-it .card {
    height: 1017px;
  }
  .combined-container .inner .how-we-do-it .card .illustration {
    width: 100%;
  }
  .combined-container .inner .industries {
    height: 500px;
  }
  .combined-container .inner .industries .row {
    width: 100%;
  }
  .combined-container .inner .industries .left-col .title {
    font-size: 53px;
    margin-top: 35px;
  }
  .combined-container .inner .industries .right-col .card {
    height: 134px;
    margin-bottom: 26px;
  }
  .combined-container .inner .industries .right-col .card .body {
    font-size: 28px;
  }
  .combined-container .inner .industries .right-col .last-card {
    margin-top: 67px;
  }

  .clients .inner {
    margin-top: 0px !important;
    width: 100% !important;
  }
  .clients .inner .title {
    font-size: 26px;
    margin-bottom: 80px;
  }
  .clients .inner img {
    margin: 0px 40px;
    height: 100px;
  }

  .contact {
    height: 1199px;
    padding-top: 80px;
  }
  .contact .inner .left-col .title {
    font-size: 53px;
    margin-bottom: 70px;
  }
  .contact .inner .left-col form label {
    font-size: 18px;
  }
  .contact .inner .left-col form input {
    height: 80px;
  }
  .contact .inner .left-col form .form-group {
    margin-bottom: 40px;
  }
  .contact .inner .right-col .contact-card {
    padding: 40px 0px 30px 40px;
    width: 685px;
    height: 201px;
    font-size: 24px;
  }
  .contact .inner .right-col .contact-card .icons .icon {
    max-width: 35px;
    min-width: 35px;
    max-height: 35px;
    min-height: 35px;
    margin-right: 26px;
  }
  .contact .inner .right-col .contact-card .icons .icon i {
    font-size: 18px !important;
  }
  .contact .inner .right-col .partnerships {
    margin-top: 40px;
  }
  .contact .inner .right-col .partnerships .card .title {
    font-size: 32px;
  }
  .contact .inner .right-col .partnerships .card .body .partner {
    font-size: 26px;
  }
  .contact .inner .right-col .partnerships .card .body .duration {
    font-size: 26px;
  }
  .contact .inner .right-col .partnerships .card .body .btn {
    font-size: 24px !important;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }

  footer a {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=index.css.map */
